header {
    width: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    height: 50px;
    margin: 0;
    font-size: 1.5em;
    color: #b7c3f3;
    background-color: #27282b;
}
nav h2 {
    margin: 5px 0;
}
#contentId {
    display: grid;
    grid-template-columns: 1.5fr 6fr ;
}

#nav1 {
    overflow-y: scroll;
    height: 555px;
    /*background-color: blue;*/
    color: #7209b7;
    margin-left: 0;
    padding: 10px;
}
#nav1 ul {
    margin: 0;
    padding: 5px 0 5px 10px;
}
#nav1 ul ul li{
    /*color: #560bad;*/
    padding: 5px 0;
}
#nav1 ul ul li:hover {
    cursor: pointer;
    font-size: 1.05em;
    text-shadow: -2px -2px 1px #f8c9f1;
}
#videoContainer {
    height: 500px;
    text-align: center;
    background-color: #27282b;
    padding: 5px;
    border-top: 1px solid #b7c3f3;
    border-left: 2px solid #b7c3f3;
}
#videoId {
    height: 480px;
    text-align: center;

}
iframe {
    width: 800px;
    height: 450px;
}


