#container {
    width: 80%;
    margin: 0 auto;
}

span {
    color: #b5179e;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.5em;
    color: #f72585;
}

h2 {
    margin-top: 40px;
    color: #7209b7;
    font-size: 1.9em;
}

h3 {
    font-size: 1.5em;
    color: #4361ee;
}
h4 {
    font-size: 1.1em;
    color: #480ca8;

}

#inputImg {
    width: 70px;
    height: 40px;
}#hero2 label, #hero3 label{
    display: block;
    margin: 10px;
}

input:invalid {
    border: 2px dashed red;
  }

  input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
  }
  
  input:valid {
    border: 2px solid black;
  }

/*
body {
    font-family: 'Raleway', sans-serif;
}
#container {
    min-width: 360px;
    margin: 0 auto;
    text-align: center;
}
header {
    background-color: #277da1;
	display: flex;
	align-items: center;
	justify-content: left;
	padding: 10px;
}
#socialIcons {
    display: flex;
    justify-content: space-around;
}

#socialIcons img {
    margin: 0.5rem 1.3rem;
}

footer {
	background-color: #277da1;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

h1 {
    color: #f9c74f;
    margin: 0 auto;

}

h2 {
    margin: 30px 0 20px 0;
}

#logoTitle {
    margin-bottom: -10px;
}

#advertContainer {
    display: block;
}

#advertContainer div:hover {
    box-shadow: 0 0 15px 0 #277da1;
    border-radius: 5px;
}

#advertContainer div img {
    max-width: 100%;
}

#joinContainer {
    display: block;
}

#joinContainer div {
    padding: 20px 30px 30px 30px;
    border: solid 1px #f94144;
}

#joinContainer div p {
    margin: 35px 0;
}

h3 {
    margin: 25px 0 20px 0;
}


footer {
    margin: 50px 0 0 0;
}

footer a{
    text-decoration: underline;
    color: white;
}
footer #lastUpdated {
    font-size: 0.8em;
    color:#f9c74f;
}

/* responsive menu 
nav ul li:first-child {
    display: block;
    /*padding: 0.5rem 0;
}

.navigation li {
    display: none;
    /*margin: 0;
    padding: 0.5rem 0;
}

.responsive li {
    display: block;
    /*background-color: indigo;*/
    /*margin: 0;
    padding: 0.5rem 0;
    
}

/* end responsive menu 
nav {
    background-color: #f9844a;
    text-align: center;
}
ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 1 rem;
}

.active a {
    background-color: #f8961e;
    color: #f94144;
}


#hero-img {
    max-width: 100%;
}
.heeboFont {
    font-family: 'Heebo', sans-serif; 
}
.ralewayFont {
    font-family: 'Raleway', sans-serif;
}
p {
    text-align: justify;
    padding: 0 20px;
}
.darkButton {
    background-color: #f94144;
    color: white;
    border-radius: 4px;
    padding: 1.1rem 2.2rem 1.1rem 2.2rem;
    font-weight: 600;
    text-decoration: none;
}
.darkButton:hover {
    background-color: #f9c74f;
    color: #f94144;
}
#divCurrentWeather div, #divForecast div {
    border: solid 1px #f9844a;
}

#divForecast div p, #divCurrentWeather div p {
    text-align: center;
}
#events article img {
    max-width: 100%;
}

#events article p a {
    text-decoration: none;
    color: #f94144;
}
/*city web page   
#articlesArea {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, 400px);
}

#articlesArea article {
    position: relative;
    overflow: hidden;
    transition: 0.7s;
    
}

#articlesArea article:hover {
    box-shadow: 0 0 16px 0 #277da1;
    border-radius: 5px;
}

#articlesArea article div a {
    text-decoration: none;
    color: unset;
}

#articlesArea article img {
    max-width: 400px;
}

#articlesArea article div {
    position: absolute;
    bottom: 0;
    z-index: 9;
    color: #90be6d;
    background-color: #4d908e;

}

.citySelected2 {
    grid-column: span2;
}

.citySelected3 {
    grid-column: span3;
}

/*  Directory 

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.logo {
    max-width: 100%;
}
.cardContent {
    display: grid;
    grid-template-rows: 4rem 3rem 3rem 3rem;
    justify-items: left;
    padding: 15px;
}

.cardContent h3 {
    padding-left: 20px;
}

.cardContent p {
    display: inline;
    margin: 0;

}

.cardContent a {
    padding-left: 20px;
} */