@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
}

td {
    font-size: 4em;
}

tr:nth-child(1) td:nth-child(2){
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

tr:nth-child(2) td:nth-child(1) {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
tr:nth-child(2) td:nth-child(3) {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
tr:nth-child(3) td:nth-child(2) {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
/* tr:nth-child(2) td:nth-child(2) {
    border: 1px solid black;
} */




table {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
    border-collapse: collapse;
}
main {
    margin:auto;
    display: grid;
    grid-template-columns: 1fr;
}
.gameTable {
    justify-content: space-evenly;
}
.gameTable td {
    width: 33%;
    height: 33%;   
}
.playerInput {
    margin: auto;
    border-radius: 2px solid black;
    padding: 1rem;
    background-color: blueviolet;
    
}
.playerForm {
    margin: auto;
    border-radius: 1px solid black;

}
.playerForm input, .playerForm label {
    margin-bottom: 1rem;
}
td button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: solid;
    margin: 0px;
    padding: 0px;
}
